<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gesipan Join</title>
<script>
function check(){
	if (document.form1.username.value==""){
		alert("아이디를 입력하세요.");
		document.form1.username.focus();
		return;
	}
	if (document.form1.password.value==""){
		alert("비밀번호를 입력하세요.");
		document.form1.password.focus();
		return;
	}
	document.form1.submit();
}
</script>
</head>
<body>
<h2>회원가입</h2>
<form method="post" name="form1">
{% csrf_token %}
<table>
	<tr>
		<td>아이디</td>
		<td><input id="{{form.username.id_for_label}}" maxlength="15"
			name="{{form.username.html_name}}">
		</td>
	</tr>
	<tr>
		<td>비밀번호</td>
		<td><input id="{{form.password.id_for_label}}" maxlength="120"
			name="{{form.password.html_name}}" type="password">
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="button" onclick="check()" value="회원가입">
			<input type="button" value="취소" onclick="location.href='/';">
		</td>
	</tr>
</table>
</form>
</body>
</html>